.sidebar {
	position: fixed;
	right: -400px;
	opacity: 0;
	top: 0;
	bottom: 0;
	width: $navigation-width;
	background: white;
	z-index: 1000;
	transition: all .2s;

	&.show {
		right: 0;
		opacity: 1;
	}

	& > header {
		background-color: white - 20;
		padding: 1.5rem;
		font-size: 16px;
		line-height: 0;
		display: flex;
		align-items: center;

		i {
			margin-right: 10px;
		}
	}

	.tab-content {
		height: calc(100% - 50px);

		.tab-pane.active {
			height: 100%;
			display: flex;
			flex-direction: column;

			.tab-pane-body {
				flex: 1;
				overflow: auto;
			}

			.tab-pane-footer {
				padding: 20px 0;
			}
		}
	}
}