.chat-block {
	height: 100%;
	@extend .card;
	padding: 1.5rem;

	.chat-sidebar {
		height: 100%;
		display: flex;
		flex-direction: column;
		padding-right: 1.5rem;

		.chat-sidebar-header {
			form {
				margin: 1.5rem 0;
			}
		}

		.chat-sidebar-content {
			flex: 1;
			height: 100%;
			display: flex;
			flex-direction: column;

			.list-group {
				.list-group-item.active {
					background: none;
					@extend a;

					& * {
						color: inherit
					}
				}
			}

			.tab-content {
				flex: 1;
				height: 100%;

				.tab-pane {
					height: 100%;
					overflow: auto;
				}
			}
		}
	}

	.chat-content {
		padding-left: 1.5rem;
		display: flex;
		flex-direction: column;
		height: 100%;

		.mobile-chat-close-btn {
			display: none;
		}

		.chat-header {
			padding-bottom: 1.5rem;
		}

		.messages {
			padding: 1.5rem 0;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			flex: 1;
			overflow-x: hidden;

			.message-item {
				margin-bottom: 20px;
				padding-left: 10px;
				display: flex;
				align-items: center;
				position: relative;

				.time {
					margin-left: 1rem;
				}

				img {
					max-width: 30%;
					border-radius: 5px;
				}

				&:not(.message-media):not(.message-item-divider):before {
					content: '';
					border: 10px solid transparent;
					border-right-color: white - 15;
					position: absolute;
					top: 5px;
					left: -10px;
					z-index: 1;
				}

				.message-item-content {
					max-width: 75%;
					background-color: white - 15;
					padding: 7px 15px;
					line-height: 1.5rem;
					border-radius: 5px;
					position: relative;
					z-index: 2;
				}

				&.me {
					flex-direction: row-reverse;
					margin-left: auto;
					padding-left: 0px;
					padding-right: 10px;

					.time {
						margin-left: 0;
						margin-right: 1rem;
					}

					&:not(.message-item-divider):before {
						left: auto;
						right: -10px;
						border-left-color: $color-primary;
						border-right-color: transparent;

					}

					.message-item-content {
						background-color: $color-primary;
						color: rgba(white, .9);
					}
				}

				&.message-item-divider {
					width: 100%;
					display: flex;

					span {
						@extend .small;
						@extend .text-muted;
						padding: 0 10px;
						user-select: none;
					}

					&:before, &:after {
						content: '';
						display: block;
						height: 1px;
						background-color: white - 30;
						flex: 1;
					}
				}
			}
		}

		.chat-footer {
			padding-top: 1.5rem;

			.chat-footer-buttons {
				button {
					margin-left: .5rem;
				}
			}
		}
	}
}