.header {
	background-color: $color-primary;
	top: 0;
	right: 0;
	left: 0;
	z-index: 998;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: $header-height;

	.avatar {
		border-color: transparent;

		&.avatar-state-success {
			&:before {
				border-color: $color-primary
			}
		}
	}

	#header-logo {
		width: $navigation-width;
		padding-left: 30px;

		img:not(.logo-light) {
			display: none;
		}
	}

	.header-body {
		flex: 1;
		display: flex;
		justify-content: space-between;
		padding-right: 30px;
		align-items: center;
		position: relative;
		height: $header-height;

		.header-search {
			display: none;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			z-index: 1;

			.input-group-prepend {
				margin-right: 0;
			}

			.input-group {
				background-color: $color-primary + 10;

				.btn {
					color: rgba(white, .8);
					border: none;
					padding: 0 20px;

					svg {
						width: 17px;
						heighT: 17px;
					}

					&:focus, &:hover {
						outline: none;
						box-shadow: none;
						color: white;
					}
				}

				.form-control {
					border-radius: 0;
					color: white;
					border: none;
					padding: 0;
					background: none;
					height: $header-height;

					&::placeholder {
						color: rgba(white, .8);
					}
				}
			}
		}
	}

	.header-app-list {
		a {
			display: block;
			text-align: center;
			margin-bottom: 1.5rem;
			background-color: red;
			color: black;
			width: 50%;
		}
	}

	form {
		.input-group {
			position: relative;

			.form-control {
				border: none;
				background-color: rgba(white, .1);

				&:focus {
					background-color: rgba(white, .2);
					color: rgba(white, .9);
				}

				&::placeholder {
					color: rgba(white, .7);
				}
			}

			.input-group-append {
				position: absolute;
				right: 0;

				button.btn {
					position: relative;
					z-index: 9;
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					background-color: inherit;
					border: none;
					@extend a;

					svg {
						width: 18px;
						height: 18px;
					}

					&:hover {
						opacity: .7;
					}

					&:focus, &:active, &:hover {
						background-color: inherit;
						box-shadow: none !important;
					}
				}
			}
		}
	}

	.header-toggler {
		display: none;
	}

	.navigation-toggler {
		display: none;
	}

	[data-toggle="fullscreen"] {
		.minimize {
			display: none;
		}
	}

	.active-fullscreen {
		.minimize {
			display: block;
		}

		.maximize {
			display: none;
		}
	}

	ul.navbar-nav {
		flex-direction: row;
		align-items: center;

		li.nav-item {


			a.nav-link {
				line-height: 100%;
				padding: 10px 15px;
				display: flex;
				align-items: center;
				justify-content: center;
				color: white;

				svg {
					width: 18px;
					height: 18px
				}

				&.nav-link-notify {
					position: relative;

					&:before {
						content: '';
						position: absolute;
						width: 6px;
						height: 6px;
						right: 0;
						border-radius: 50%;
						top: 3px;
						background: $color-danger;
					}
				}

				&:hover, &:focus {
					outline: none;
					color: rgba(white, .8);
				}
			}
		}

		& + form.search {
			margin-left: 1.5rem;
		}
	}

	.dropdown-menu {
		position: absolute;
	}
}

