.page-header {
	background: $color-primary;
	margin: -1.9rem;
	margin-bottom: -2.5rem;
	padding: 5rem 1.875rem;
	padding-top: 4rem;

	&[data-backround-image] {
		&:after {
			background: rgba(white, .7);
		}
	}

	.breadcrumb {
		background: none;
		padding: 0;
		margin: 0;

		a {
			&:hover {
				text-decoration: underline;
			}
		}

		li.breadcrumb-item {
			font-size: inherit !important;

			&:first-child:before {
				font-size: 12px;
				font-family: themify;
				content: "\e69b";
				display: inline-block;
				margin-right: 8px;
			}

			@extend .small;

			& + .breadcrumb-item::before {
				font-size: 10px;
			}

			&.active {
				color: $color-primary
			}
		}
	}
}