.table:not(.table-bordered) {
	thead th {
		border-top: none;
		border-bottom-width: 1px;
		font-weight: 500;
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: .5px;
	}

	td {
		vertical-align: middle;
		line-height: 1;
		white-space: nowrap;
	}
}

.table {
	.dropdown-menu {
		margin-top: 0;
	}
}

.dataTables_wrapper {
	.dataTables_scroll {
		.dataTables_scrollHeadInner {
			table.table.table-striped.table-bordered.dataTable {
				margin-bottom: 0;
			}
		}
	}

	.dataTables_filter {
		display: flex;
		justify-content: flex-end
	}

	.dataTables_length {
		select {
			float: left;
		}
	}

	.dataTables_paginate {
		display: flex;

		ul.pagination {
			margin-left: auto;
		}
	}
}

.table-responsive-stack tr {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}

.table-responsive-stack td,
.table-responsive-stack th {
	display: block;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, .03);
}